name: Playwright Tests

on: push

jobs:
  e2e:
    env:
      NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
      NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
      DEV_URL: ${{ secrets.DEV_URL }}
      E2E_EMAIL: ${{ secrets.E2E_EMAIL }}
      E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup
      uses: ./.github/actions/setup
    # - name: Dev Database Reset
    #   uses: ./.github/actions/dev-database
    #   with:
    #     DATABASE_URL: ${{ secrets.DATABASE_URL }}
    #     DIRECT_URL: ${{ secrets.DIRECT_URL }}
    #     TEST_USER_ID: ${{ secrets.TEST_USER_ID }}
    - name: Setup Playwright
      uses: ./.github/actions/playwright
    - name: Playwright test
      run: pnpm e2e
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
